@charset "utf-8";

/*================================================== header ==================================================*/
header {position:fixed; top:0; left:0; right:0; z-index:9999;}
header .top-area {height:75px; background-color:#fff;}
header .top-wrap {width:1320px; margin:0 auto; height:100%; display:flex; justify-content:space-between; align-items:center;}
header .top-wrap .left {display:flex; align-items:center; gap:32px;}
header .top-wrap .logo {width:118px; height:31px;}
header .top-wrap .logo a {display:block; width:118px; height:31px; background:url(../img/logo.png) no-repeat 0 center / 118px auto;}
header .top-wrap .business-list {display:flex; gap:16px;}
header .top-wrap .business-list li a {position:relative; display:block; font-size:20px; color:#888; font-weight:700; margin-right:16px;}
header .top-wrap .business-list li.on a {color:#333;}
header .top-wrap .business-list li a:after {content:''; position:absolute; top:3px; bottom:3px; border:1px solid #888; margin-left:16px;}
header .top-wrap .business-list li:last-child a:after {content:none;}
header .top-wrap .until-list {display:flex; gap:16px;}
header .top-wrap .until-list li a {position:relative; display:block; font-size:13px; color:#666; margin-right:16px;}
header .top-wrap .until-list li a:after {content:''; position:absolute; top:7px; bottom:7px; border:1px solid #ebebeb; margin-left:16px;}
header .top-wrap .until-list li:last-child a:after {content:none;}

header .gnb-area {position:relative; height:55px; line-height:55px; background-color:#fff;} 
header .gnb-wrap {width:1320px; margin:0 auto; display:flex; align-items:center; justify-content:space-between;}
header .gnb-wrap .menu-list {display:flex; gap:64px;}
header .gnb-wrap .menu-list > li > a {font-size:18px; font-weight:700;}
header .gnb-wrap .menu-list > li:hover > a {border-bottom:2px solid #ddd; padding-bottom:6px}
header .gnb-wrap .menu-list .sub-area {display:none;}
header .gnb-wrap .menu-list > li.on .sub-area {display:block; position:absolute; top:55px; left:0; right:0; background-color:#fff; z-index:9999;}

/* gnb 열렸을 때 */
header .sub-area .depth2-list {width:1320px; margin:0 auto; padding:52px 0; display:flex; flex-wrap:wrap;}
header .sub-area .depth2-list > li {flex:0 1 20%;}
header .sub-area .depth2-list > li > a {font-weight:700;}
header .sub-area .depth2-list .depth3-list > li {line-height:26px;}
header .sub-area .depth2-list .depth3-list > li > a{font-size:14px;}

header .gnb-wrap .ico-btn-list {display:flex; gap:16px;}
header .gnb-wrap .ico-btn-list li {width:26px; height:26px;}
header .gnb-wrap .ico-btn-list li > button {height:100%;}
header .gnb-wrap .ico-btn-list .material-symbols-outlined {font-size:26px;}

/* 검색영역 */
.search-contain {position:absolute; left:0; right:0; display:flex; flex-direction:column; padding:26px 0; background-color:#fff; z-index:1000;} 
.search-contain .con-wrapper {width:1320px; margin:0 auto;}

.search-contain .search-area {}
.search-contain .search-bar {position:relative;}
.search-contain .search-bar .ico-btn-search {position:absolute; top:0; right:16px; width:52px; height:52px;}
.search-contain .search-bar .ico-btn-search .material-symbols-outlined {line-heigh:52px; font-size:32px;}
.search-contain .search-bar .ico-btn-del {position:absolute; top:0; right:68px; width:52px; height:52px;}
.search-contain .search-bar .ico-btn-del .material-symbols-outlined {width:26px; height:26px; line-height:26px; border-radius:50%; font-size:16px; background-color:#ebebeb;}

.search-contain .search-suggest-area {display:flex; margin-top:20px;}
.search-contain .search-suggest-area > div {flex:1 1 50%; display:flex; flex-direction:column; gap:26px;}
.search-contain .search-suggest-area .tit {font-size:20px; font-weight:700;}

/*================================================== main ==================================================*/
/* header + main > .full {padding-top:130px;} */
header.sticky + main > .section {padding-top:80px;}
main > .section {width:1320px; padding-top:55px; margin:0 auto;}
main > .section .inner {position:relative;}

/*================================================== footer ==================================================*/
footer {background-color:#2C2A26; padding:26px; margin-top:52px;}
footer > .section {width:1320px; margin:0 auto; display:flex; justify-content:space-between;}
footer .info-area {font-size:13px; color:#fff;}
footer .info-area .logo {width:52px; height:52px;}
footer .info-area [class$="-list"] {display:flex; gap:16px; margin-top:26px;}
footer .info-area [class$="-list"] li {position:relative;}
footer .info-area [class$="-list"] li:after {content:''; position:absolute; top:9px; bottom:9px; border:1px solid #ebebeb; margin-left:8px;}
footer .info-area [class$="-list"] li:last-child:after {content:none;}
footer .info-area .tel-list .point {color:#FFAA00;}
footer .info-area .tel-list.L li {font-size:16px;}
footer .info-area .tel-list.L li:after {top:5px; bottom:5px;}
footer .info-area .copy {margin-top:26px;}
footer .rel-info-area {display:flex; flex-direction:column; gap:26px}
footer .site-group {position:relative;}
footer .site-group .site-list {display:none;}
footer .site-group.on .site-list {display:block; position:absolute; bottom:100%; width:100%; border-radius:6px; background-color:#fff;}
footer .site-group.on .site-list a {display:block; padding:8px 16px; font-size:14px;}
footer .site-group.on .site-list a:hover {background-color:#ebebeb; font-weight:700;}
footer .btn-site {position:relative; width:200px; height:26px; line-height:26px; border-radius:6px; background-color:#fff; color:#333; font-size:16px; text-align:left;}
footer .btn-site:after {content:''; position:absolute; right:16px; top:50%; margin-top:-2px; border:1px solid #333; border-width:3px 4px 3px 4px; border-color:#333 transparent transparent transparent;}
footer .sns-group {display:flex; gap:8px;}
footer .sns-group a {display:block; width:44px; height:44px; border-radius:50%; background-repeat:no-repeat; background-position: center center; background-color:#fff;}
footer .sns-group a.facebook {background-image:url(../img/img_sns_facebook.png);}
footer .sns-group a.youtube {background-image:url(../img/img_sns_youtube.png);}
footer .sns-group a.blog {background-image:url(../img/img_sns_blog.png);}
footer .sns-group a.instagram {background-image:url(../img/img_sns_instagram.png);}
footer .awards-group {display:flex; gap:8px;}